@model IEnumerable<DBSystem.Entities.Producto>
@{
    ViewBag.Title = "Index";

    var ajaxoptions = new AjaxOptions()
    {
        UpdateTargetId = "listProductos"
    };
}
@if (false)
{ 
    <script type="text/javascript" src="../../Scripts/jquery-1.7.1-vsdoc.js"></script>
}
@section scripts{
    <script type="text/javascript">
        function OnSuccessDetails(data) {
            $("#frmDetails").dialog({
                modal: true,
                buttons: {
                    'Cerrar': function () {
                        $(this).dialog('close');
                    }
                },
                close: function () {
                    $(this).parent().remove();
                    $(this).remove();
                }
            });
        }

        function OnSuccessAdd(data) {

            $("#Codigo").focusout(function () {
                var div = $(this).closest('.editor-field');

                if ($(this).val().length > 0) {

                    $.post('@Url.Action("validarProductoAjax")',
                            { codigo: $(this).val() },
                            function (data) {
                                if (data.ok == true) {

                                    var error = '<span class="msg field-validation-error">' + data.msg + '</span>';

                                    $('#Codigo').addClass('input-validation-error');

                                    div.find('.msg').remove();
                                    div.append(error);

                                    $('#btnGuardar').hide();
                                }
                                else {
                                    div.find('.msg').remove();
                                    $('#Codigo').removeClass('input-validation-error');

                                    $('#btnGuardar').show();
                                }
                            },
                            'json');
                }
            });

            $("#dialogAdd").dialog({
                modal: true,
                width: 350,
                buttons: [
                {
                    id: "btnGuardar",
                    text: "Guardar",
                    click: function () {
                        $.validator.unobtrusive.parse('#frmCreate');
                        $("#frmCreate").submit();
                    }
                },
                {
                    id: "btnCancelar",
                    text: "Cancelar",
                    click: function () {
                          $(this).dialog('close');
                    }
                }]
                /*{'Cerrar': function () {
                $(this).dialog('close');
                },
                'Guardar': function () {
                $.validator.unobtrusive.parse('#frmCreate');
                $("#frmCreate").submit();
                }}*/,
                close: function () {
                    $(this).parent().remove();
                    $(this).remove();
                }
            });
        }

        function OnSuccessCreate(data) {
            if (data.ok == true) {
                $("#dialogAdd").dialog('close');
            }
            else {
                var div = $("#Codigo").closest('.editor-field');
                var error = '<span class="msg field-validation-error">' + data.msg + '</span>';

                $('#Codigo').addClass('input-validation-error');

                div.find('.msg').remove();
                div.append(error);
            }
        }

        function OnSuccessEdit(data) {
            $("#dialogEdit").dialog({
                modal: true,
                width: 350,
                buttons: {
                    'Cerrar': function () {
                        $(this).dialog('close');
                    },
                    'Guardar': function () {
                        $.validator.unobtrusive.parse('#frmEdit');
                        $("#frmEdit").submit();
                    }
                },
                close: function () {
                    $(this).parent().remove();
                    $(this).remove();
                }
            });
        }

        function OnSuccessUpdate(data) {
            if (data.ok == "true") {
                $("#dialogEdit").dialog('close');
            }
            else {
                alert(data.msg);
            }
        }
        
    </script>
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Add")
    @Ajax.ActionLink("Nuevo Producto", "Index", new AjaxOptions()
{
    Url = Url.Action("Add"),
    UpdateTargetId = "showAdd",
    OnSuccess = "OnSuccessAdd"
})
</p>
@using (Ajax.BeginForm("Index", ajaxoptions))
{
    <fieldset>
        <legend>Buscar Producto</legend><b>Criterio:</b>
        @Html.TextBox("criterio")
        <input type="submit" name="btnBuscar" value="Buscar" />
    </fieldset>
    <div id="listProductos">
        @Html.Partial("_resultProductos", Model)
    </div>
}
<div id="upDetails">
</div>
<div id="showAdd">
</div>
<div id="upEdit">
</div>
